.LeftSideBar {
    min-width: 25%;
    float: left;
    /* background-color: linen; */
    /* applied GRID layout */
    grid-area: LeftSideBar;
    /* styling for grid*/
    border-top: 1px solid #ebeef0;
}

.LeftSideBar>div {
    height: 2rem;
}

.LeftSideBar img {
    float: left;
    height: 2rem;
    padding-right: 10px;
}

.LeftSideBar h3 {
    line-height: 2rem;
}