.CreatePost {
    height: 8rem;

    /* applied child GRID layout*/
    display: grid;
    grid-template-columns: 15% 1fr 20%;
    grid-template-rows: 4rem 4rem;
    grid-template-areas:
        'profile post post'
        '. icon button';
}

.CreatePost .imgHolder {
    float: left;

    /* grid styles */
    grid-area: profile;
   
    /* general styling */
    width: 90%;
    height: auto;

    /* aligning items */
    display: grid;
    justify-items: center;
    align-items: center;
}

.CreatePost input {
    float: left;
    height: 4rem;
    width: 75%;
    border-style: none;
    font-size: 1.5rem;

    /* grid styles */
    grid-area: post;
}

.CreatePost img:last-of-type {
    clear: both;
    float: left;

    /* grid styles */
    grid-area: icon;

    /* general styling */
    max-width: 100%;
}

.CreatePost .button {
    float: right;
    color: white;
    /* grid styles */
    grid-area: button;

    /* aligning contents */
    display: grid;
    justify-items: center;
    align-items: center;

}

.CreatePost .button button {
    background-color: #1da1f2;
    color: #fff;
    border-style: none;
    padding: 15px;
    width: 90%;
    border-radius: 40px;
}